* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.lp-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
}

.lp-container .lp-welcome {
  margin-left: 10%;
  margin-right: 10%;
}

.lp-container .lp-welcome .lp-title {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  margin-top: 10%;
}

.lp-container .lp-welcome .lp-offer {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 10%;
  color: #6AEAAB;
}

.lp-container .lp-welcome .lp-body {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  margin-top: 10%;
}

.lp-register {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}

.lp-register .register {
  display: -ms-grid;
  display: grid;
}

.lp-register .register .r-input {
  margin: 2%;
  font-size: 1rem;
  padding: 1%;
}

.lp-register .register .error-message {
  color: red;
}

.p-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
  -ms-grid-rows: 20% 80%;
      grid-template-rows: 20% 80%;
}

.p-container .p-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 5%;
  margin-left: 2%;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.p-container .p-data {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.p-container .p-search .search-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin: 20%;
}

.p-container .p-search .search-form .search-input {
  font-size: 1.2rem;
  margin: 5%;
  padding: 2%;
}

.p-container .p-search .search-form .quantity-input {
  font-size: 1.2rem;
  margin: 5%;
  padding: 2%;
  width: 84%;
}

.p-container .p-search .search-form .search-button {
  font-size: 1.2rem;
  margin: 5%;
  padding: 2%;
}

.nav-notuser {
  background-color: #6AEAAB;
  width: 100%;
  height: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
}

.nav-notuser .nav-title {
  margin-top: 5%;
  margin-left: 2%;
  font-size: 2rem;
  font-weight: 100;
}

.nav-notuser .login-section {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr .5fr;
      grid-template-rows: 1fr 1fr .5fr;
}

.nav-notuser .login-section .nav-subtitle {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  margin: 2%;
  font-size: 1.5rem;
  font-weight: 100;
}

.nav-notuser .login-section .l-email {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  margin: 5%;
  font-size: 1rem;
}

.nav-notuser .login-section .l-password {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  margin: 5%;
  font-size: 1rem;
}

.nav-notuser .login-section .login {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  margin: 5%;
  font-size: 1rem;
}

.nav-user {
  background-color: #6AEAAB;
  width: 100%;
  height: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
      grid-template-columns: 55% 45%;
}

.nav-user .nav-title {
  margin: 5%;
  font-size: 2rem;
  font-weight: 100;
}

.nav-user .links {
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
  list-style: none;
  margin: 5%;
}

.nav-user .links .link {
  text-decoration: none;
  margin: 5%;
}

.no-data {
  text-align: center;
  margin-top: 20%;
  font-weight: 100;
  font-size: 2rem;
}

.p-title-h3 {
  font-size: 1.8rem;
  margin-bottom: 5%;
  border-bottom: #6AEAAB solid 2px;
}

.p-title-h3 .title-s {
  margin-right: 15%;
}

.pi-ul {
  font-size: 1.5rem;
  text-align: center;
  list-style: none;
}

.pi-ul .pi-li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pi-ul .pi-li .info {
  font-size: 1.8rem;
  margin-right: 20%;
  margin-top: 10%;
}
/*# sourceMappingURL=App.css.map */