
.lp-container {
    display: grid;
    grid-template-columns: 55% 45%;

    .lp-welcome {
        margin-left: 10%;
        margin-right: 10%;    
    
        .lp-title {
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
        margin-top: 10%;
        }

        .lp-offer {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin-top: 10%;
            color: #6AEAAB;
        }

        .lp-body {
            font-size: 2rem;
            font-weight: 100;
            text-align: center;
            margin-top: 10%;
        }
    }
    
}

.lp-register {
    margin-left: 15%;
    margin-right: 15%;
     margin-top: 10%;

    .register {
        display: grid;
       

        .r-input {
            margin: 2%;
            font-size: 1rem;
            padding: 1%;
        }

        .error-message {
            color: red;
        }

    }
}